/* PT Sans Font */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* League Spartan Font */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* Importando o TailwindCSS */
@import "tailwindcss";

@theme {
  --color-vox-1: #000000;
  --color-vox-2: #0E0E0E;
  --color-vox-3: #2B2B2B;
  --color-vox-4: #4A494A;
  --color-vox-5: #646463;
  --color-vox-6: #7F7F80;
  --color-vox-7: #D2D2D2;
  --color-vox-8: #FFFFFF;

  --font-pt-sans: PT Sans, sans-serif;
  --font-league-spartan: League Spartan;

  --radius-vox-5: 5px;

  /* 320px
  --breakpoint-xxs: 20rem; */
   
  /* 430px */
  --breakpoint-xs: 25rem;

  --aspect-card-details: 11 / 10;
}

@layer components {

  /* Serve para criar grupos de classes juntos de uma classes só
  ex */
  /* .typography {
    p {
      font-size: var(--text-base);
      color: var(--color-gray-700);
    }

    h1 {
      font-size: var(--text-2xl--line-height);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }

    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }
  } */

  /* 
  TODO -> Descobrir porque não deu certo
  .active {
    button {
      border-color: var(--color-vox-8);
      border: var(--color-vox-8) 1px solid;
      color: var(--color-vox-8);
    }

    button span {
      color: var(--color-vox-8);
    }
  } */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

p {
  font-family: var(--font-sans);
  color: var(--color-vox-7);
}

/* button.active {
  border-color: var(--color-vox-8);
  border: var(--color-vox-8) 1px solid;
  color: var(--color-vox-8);
}

button.active span {
  color: var(--color-vox-8);
} */

