/* PT Sans Font */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* League Spartan Font */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* Importando o TailwindCSS */
@import "tailwindcss";

@theme {
  --color-vox-1: #000000;
  --color-vox-2: #0E0E0E;
  --color-vox-3: #2B2B2B;
  --color-vox-4: #4A494A;
  --color-vox-5: #646463;
  --color-vox-6: #7F7F80;
  --color-vox-7: #D2D2D2;
  --color-vox-8: #FFFFFF;

  --font-pt-sans: PT Sans, sans-serif;
  --font-league-spartan: League Spartan;

  --radius-vox-5: 5px;
}

p {
  font-family: var(--font-sans);
  color: var(--color-vox-8);
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

